/* <!-- ======================================================= --> */
/* landing section starts */
.bg {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bg img {
    height: 250px;
    width: 250px;
  }
  .bg h1 {
    font-size: 6vh;
    text-align: center;
    padding: 5px;
  }
  .bg h4 {
    font-size: 2.5vh;
    text-align: center;
    padding: 15px;
  }
  /* landing section ends */
/* <!-- ======================================================= --> */
