/* <!-- ======================================================= --> */
/* portfolio section start  */
figcaption {
    background-color: var(--main-color-bg);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  figure {
    cursor: pointer;
  }
  figure:hover figcaption {
    opacity: 1;
  }
  /* portfolio section end  */
  /* <!-- ======================================================= --> */